.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background-color:#A883D6;
}
.cell:hover{
    background: whitesmoke;
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    background-color:whitesmoke;
    height:100vh;
    width: 100vw;
    background-size: cover;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
.button {
    background-color: #A883D6;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
.button1 {border-radius: 12px;}
  

